.recipe {

    text-align: center;
    font-size: large;
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* .recipe > * {
    margin-left: 3px;
} */

.info-bar {
    background-color: rgb(250, 240, 186);
    height: 30px;
}

.recipe-name {
    float: left;
    margin-left: 5px;
    font-weight: bold;
}

.user-name {
    float: right;
    padding-right: 5px;
}

.info-bar > div {
    display: inline-block;
    margin: 5px;
    font-size: large;
}

.recipe-data {
    clear: both;
}

.label {
    width: 200px;
    text-align: left;
    margin-right: 5px;
    font-weight: bold;
    margin-left: 5px;
}
.value {
    text-align: left;
    margin-left: 50px;
}

.edit-bar {
    text-align: left;
    margin-left: 10px;
}

.edit-bar > div {
    display: inline-block;
}